<dialog class="w-3/6 h-fit top-1/6 p-5 transition bg-white rounded-xl backdrop:bg-black/50 backdrop:backdrop-blur-sm" id="<%=element.name%> description">
    <form method="dialog" >
        <h3 id="modal-title" class="font-bold text-lg my-1"><%=element.name%></h3>
        <hr style="background-color: black !important; height: 1px; border: none;">
        <p id="modal-description" class="text-pretty my-1"><%=element.description%></p>
        <button type="submit" class="mx-auto justify-center my-2 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Close</button>
    </form>
  </dialog>