<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <%- include('./layout/header.ejs') %>
    <main class="relative">
      <%- include('./components/alert.ejs') %>
      <%- include('./components/table.ejs') %>
    </main>
    <%- include('./layout/footer.ejs') %>
  </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on("dataChanged", () => {
    location.reload();
  });
</script>
<script>
  alert = document.getElementById("toast-default");
  closeAlert = document.getElementById("close-alert");

  window.onload = setInterval(() => {
    alert.style.opacity = '0';
  }, 5000);

  closeAlert.onclick = function(){
    alert.style.opacity = '0';
  }
</script>
