---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.tsx";
import data from "../../data.json"
---

<Layout title="Welcome to Astro.">
	<main>
		<Table client:load />
	</main>
</Layout>
