<footer class="relative bg-blueGray-200 pt-8 pb-6 mt-10">
    <hr />
    <div class="flex flex-wrap items-center md:justify-between justify-center mt-5">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
                Álvaro Portales Luna. Trabajo Fin de Grado.
            </div>
        </div>
    </div>
</footer>