<header class="bg-white mb-10">
    <nav class="mx-auto max-w-full text-center p-6" aria-label="Global">
        <h1 class="text-dark max-w-full font-bold py-2 px-4 text-3xl">OBD-II Fuzzer Tool</h1>
    </nav>
    <hr />
</header>